<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="dev.wath.smartpackagebox">
	<uses-permission android:name="android.permission.INTERNET"/>
	<application android:label="SmartPackageBox" android:icon="@drawable/Icon" android:usesCleartextTraffic="true">
		<activity android:name=".MainActivity" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="smartpackagebox" android:host="open"/>
			</intent-filter>
		</activity>
	</application>
</manifest>